<div *ngIf="isLoading" class="loader_container">
  <md-progress-spinner id="event_loader" mode="indeterminate"></md-progress-spinner>
</div>
<div *ngIf="!isLoading" class="linear_layout">
  <md-toolbar color="primary" id="event_toolbar">
    <span id="title"><a (click)="goBack()"><md-icon>arrow_back</md-icon></a>&nbsp;&nbsp;{{event.title}}</span>
  </md-toolbar>
  <div class="linear_layout" id="event_content">
    <div >
      <md-card class="event_card">
        <img md-card-image src="{{event.cover_image_url}}">
        <md-card-title>{{event.title}}</md-card-title>
        <md-card-content>
          <p>
            {{event.description}}
          </p>
          <p class="location">
            <md-icon>location_on</md-icon> {{event.venue_title}}
          </p>
        </md-card-content>
        <md-card-actions>
          <a href="{{event.ticket_url}}" target="_blank"> <button md-button>REGISTER</button></a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>

