<md-toolbar>
  <md-grid-list cols = 3 rowHeight="100%" class="bottom-bar-row">
    <md-grid-tile colspan=1>
      <a class="bottom-bar-link" routerLink="/events" routerLinkActive="active"><md-icon>event</md-icon>Events</a>
    </md-grid-tile>
    <md-grid-tile colspan=1>
      <a class="bottom-bar-link" routerLink="/news" routerLinkActive="active"><md-icon>subject</md-icon>News</a>
    </md-grid-tile>
    <md-grid-tile colspan=1>
      <a class="bottom-bar-link" routerLink="/about" routerLinkActive="active"><md-icon>info</md-icon>About</a>
    </md-grid-tile>
  </md-grid-list>
</md-toolbar>
